

body {background-color:#777; width: 1024px; margin: 0 auto; } // entire background

h1   {color:#ebebeb;}

header {

	background: #ebebeb;
	text-align:center;
	padding: 30px;
	margin: 10px;

}

nav {

	background: #ebebeb;
	text-align:center;
	padding: 30px;
	margin: 10px;

}


section {
	background: #ebebeb;
	text-align:center;
	padding: 20px;
	margin: 10px;
	float: left;
    width: 60%;
    height: 200px;
}

aside {
	background: #ebebeb;
	text-align:center;
	padding: 20px;
	margin: 10px;
	float: right;
	width: 285px;
	height: 200px;
}





footer {
	clear: both;
  	background: #ebebeb;
	text-align:center;
	padding: 30px;
	margin:10px;

}

article {
	clear: both;
	background: #777;
	text-align:center;
	padding: 10px;
	margin-bottom: 10px;
	height: 160px;
}

#theh {
	background: #ebebeb;
	text-align:center;
	padding: 10px;
	margin: 10px;
}


#thep {
	background: #ebebeb;
	text-align:center;
	padding: 10px;
	margin: 10px;
}


/*
.container{background-color:#efeee7;}

.clearfix{overflow: auto;}

#wrapper { 
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
}


article {
	clear: both;
	background: #777;
	text-align:center;
	padding: 10px;
	margin-bottom: 10px;
	height: 160px;
}

<!--p background-color:#efeee7  background: #ccc;  -->
<!--{color:red;} -->



*/