

body {background-color:#777; width: 960px; font-size: 18px; font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif ;margin: 0 auto; } // entire background
// font-size here sets the whole page

h1   {color:#ebebeb;}

header {

	background: #ebebeb;
	text-align:center;
	padding: 30px;
	margin: 10px;

}

nav {

	background: #ebebeb;
	text-align:center;
	padding: 30px;
	margin: 10px;

}


section {
	background: #ebebeb;
    width: 495px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    float: left;
    
    height: 200px;
}

aside {
	background: #ebebeb;
	text-align:center;
	padding: 20px;
	margin: 10px;
	float: right;
	width: 335px;
	height: 200px;
}

footer {
	clear: both;
  	background: #ebebeb;
	text-align:center;
	padding: 30px;
	margin:10px;

}

article {
	clear: both;

	background: #777;
	text-align:center;
	padding: 20px;
	margin: 10px;
	height: 120px;
	width: 345px;
}

#the_art {
	width: 435px;
	float: left;
}


#theh {
	background: #ebebeb;
	text-align:center;
	padding: 10px;
	margin: 10px;
	float: left;
	width: 390px;
}





#thep {
	clear: both;
	background: #ebebeb;
	text-align:center;
	padding: 10px;
	margin: 10px;
	width: 390px;

}


/*

div {
    border: 3px solid blue;
}
.container{background-color:#efeee7;}

.clearfix{overflow: auto;}

div {
    border: 3px solid blue;
}

#wrapper { 
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
}


article {
	clear: both;
	background: #777;
	text-align:center;
	padding: 10px;
	margin-bottom: 10px;
	height: 160px;
}

<!--p background-color:#efeee7  background: #ccc;  -->
<!--{color:red;} -->

height: 160px;

*/